
                    <div class="form-group form-group-lg">
                        <form class="form-horizontal">
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control" id="message" placeholder="message" maxlength="255">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" id="send_msg" type="submit">Envoyer</button>
                                </span>
                            </div><!-- /input-group -->
                        </form>
                        <br>
                        <br>
                     </div>
