
                    <div class="form-group form-group-lg">
                        <form class="form-horizontal">
                            <input type="text" class="form-control" id="pseudo" placeholder="message" maxlength="255" />
                            <input type="submit" value="Envoyer" id="send_msg"/>
                        </form>
                        <br>
                        <br>
                     </div>
