<div class="modal fade" id="modalP" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Connexion à l'API</h3>
            </div>
            <div class="modal-body">
                <div class="form-group form-group-lg">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal', }}) }}
                    {{ form_widget(form.apiToken, { 'attr': {'class': 'form-control', 'placeholder': 'Mot de passe' } }) }}
                    {{ form_errors(form.apiToken) }}
                    <br>
                    <br>
                    {{ form_end(form) }}
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <button type="submit" id="save" class="btn btn-primary">Connexion</button>
            </div>
        </div>

    </div>
</div>