



{% extends "DTREOeilSiteBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} Video
{% endblock %}

{% block bundle_body %}
    <div class="page-header">
        <h1>Médias</h1>
    </div>

    Vous n'avez pas les droits nécéssaires pour accéder aux médias


{% endblock %}

{% block bundle_javascript %}
    {{ parent() }}
{% endblock %}
