{% extends "DTREOeilSiteBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block bundle_body %}
    <h2>Accueil</h2>
    <hr>
    <div class="row">
            <div id="chart">ok</div>
    </div>
    <div></div>
{% endblock %}

{% block bundle_javascript %}

    <script type="text/javascript">

        google.charts.load('current', {'packages':['line']});

        var dat;
        $.getJSON("http://localhost/pst3oeildtre/web/app_dev.php/sensors/1/data/day", function(result){
            dat = result;
            google.charts.setOnLoadCallback(drawChart);
            $.each(result, function(i, field){
                //console.log(field["value"]);
            });
        });
        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Day');
            data.addColumn('number', 'Température');

            $.each(dat, function(i, field){
                console.log(field["value"]);
                console.log(field["date"]);
                data.addRow([new Date(field["date"]),field["value"]]);
            });


            // Set chart options
            var options = {
                chart: {
                    title: 'Température dans la DTRE',
                    subtitle: 'en degré Celsius'
                },
                width: 900,
                height: 500
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.charts.Line(document.getElementById('chart'));
            chart.draw(data, options);
            $.each(dat, function(i, field){
                console.log(field["value"]);
                console.log(new Date(field["date"]));
                console.log(field["date"]);
            });
        }
    </script>
{% endblock %}