{% extends "DTREOeilSiteBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block bundle_body %}
    <h2>Accueil</h2>
    <hr>

    <div class="container">
        <div class="row">
            <div class='col-md-3'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' id="date" class="form-control" />
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
            </div>
            <div class='col-md-3 '>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker2'>
                        <input type='text' id="date2" class="form-control" />
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
            </div>
            <div class='col-md-3 '>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker3'>
                        <input type='text' id="date3" class="form-control" />
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <button type="button" id="button-date" class="btn btn-primary btn-block">Valider</button>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col-md-6 well">
                <div style="width:95%; height:400px">
                    <div id="chart1"></div>
                </div>
            </div>
            <div class="col-md-6 well">
                <div style="width:95%; height:400px">
                    <div id="chart2"></div>
                </div>
            </div>
            <div class="col-md-6 well">
                <div style="width:95%; height:400px">
                    <div id="chart3"></div>
                </div>
            </div>
            <div class="col-md-6 well">
                <div style="width:95%; height:400px">
                    <div id="chart4"></div>
                </div>
            </div>
    </div>
    <div></div>
{% endblock %}

{% block bundle_javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){

        // initialisation de l'api google pour les graphiques linéaires
        google.charts.load('current', {'packages':['line'], 'language': 'fr'});
        google.charts.load('current', {'packages':['corechart'], 'language': 'fr'});

        $('#button-date').on("click", function () {
            console.log($('#date').val());
        });
        

        function Time(year, month, day) {
            this.year = year;
            this.month = month;
            this.day = day;
        }

        function Sensor(id, name, title, subtitle, location, data) {
            this.id = id;
            this.name = name;
            this.title = title;
            this.subtitle = subtitle;
            this.location = location;
            this.data = data;
        }

        var sensors = [];
        now = new Date();
        var time = new Time (now.getUTCFullYear(), now.getUTCMonth()+1, now.getUTCDate());
        console.log(time);

        function getSensorInformation() {
            $.getJSON("http://localhost/pst3oeildtre/web/app_dev.php/sensors", function(result){
                console.log(result);
                $.each(result, function(i, field){
                    sensors.push(new Sensor(field["id"],field["name"],field["title"],field["subtitle"],"chart"+(i+1), null));
                });
                console.log(sensors);
                setDatePickerDay();
                setDatePickerMonth();
                setDatePickerYear();
                for (var j = 0; j < sensors.length; j++) {
                    getDayData(sensors[j], time);
                }
            });
        }

        function getDayData(sensor, time) {
            $.getJSON("http://localhost/pst3oeildtre/web/app_dev.php/sensors/" +sensor.id+ "/data/day" +
                        "?day="+ time.day +
                        "&month="+ time.month +
                        "&year="+ time.year
                        , function(result){
                sensor.data = result;
                google.charts.setOnLoadCallback(drawDayChart(sensor));
            });
        }
        function getWeekData(sensor, time) {
            $.getJSON("http://localhost/pst3oeildtre/web/app_dev.php/sensors/"+sensor.id+"/dailydata/week" +
                "?day="+ time.day +
                "&month="+ time.month +
                "&year="+ time.year
                , function(result){
                sensor.data = result;
                google.charts.setOnLoadCallback(drawLongChart(sensor));
            });
        }
        function getMonthData(sensor, time) {
            $.getJSON("http://localhost/pst3oeildtre/web/app_dev.php/sensors/"+sensor.id+"/dailydata/month" +
                "?month="+ time.month +
                "&year="+ time.year
                , function(result){
                sensor.data = result;
                google.charts.setOnLoadCallback(drawLongChart(sensor));
            });
        }
        function getSemesterData(sensor, time) {
            $.getJSON("http://localhost/pst3oeildtre/web/app_dev.php/sensors/"+sensor.id+"/dailydata/semester" +
                "?month="+ time.month +
                "&year="+ time.year
                , function(result){
                sensor.data = result;
                google.charts.setOnLoadCallback(drawLongChart(sensor));
            });
        }
        function getYearData(sensor, time) {
            $.getJSON("http://localhost/pst3oeildtre/web/app_dev.php/sensors/"+sensor.id+"/dailydata/year" +
                "?year="+ time.year
                , function(result){
                sensor.data = result;
                google.charts.setOnLoadCallback(drawLongChart(sensor));
            });
        }
        function drawDayChart(sensor) {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Journée');
            data.addColumn('number', 'Température');
            $.each(sensor.data, function(i, field){
                data.addRow([new Date(field["date"]),field["value"]]);
            });

            var options = {
                title: sensor.title,
                subtitle: sensor.subtitle,
                'width':570,
                'height':400,
                legend: { position: 'right' },
                hAxis: {
                    format: 'HH:mm'
                }
            };
            var chart = new google.charts.Line(document.getElementById(sensor.location));
            chart.draw(data, google.charts.Line.convertOptions(options));
        }
        function drawLongChart(sensor) {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Semaine');
            data.addColumn('number', sensor.name + ' moyen(ne)');
            data.addColumn('number', sensor.name + ' minimum');
            data.addColumn('number', sensor.name + ' maximum');
            $.each(sensor.data, function(i, field){
                data.addRow([new Date(field["date"]),field["value"],field["min"],field["max"]]);
            });

            var options = {
                title: sensor.title,
                subtitle: sensor.subtitle,
                'width':570,
                'height':400,
                legend: { position: 'right' }
                /*hAxis: {
                    format: 'dd MMM'
                }*/
            };
            var chart = new google.charts.Line(document.getElementById(sensor.location));
            chart.draw(data, google.charts.Line.convertOptions(options));
        }

        function drawChart(sensor) {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Semaine');
            data.addColumn('number', sensor.name + ' moyen(ne)');
            data.addColumn('number', sensor.name + ' minimum');
            data.addColumn('number', sensor.name + ' maximum');
            $.each(sensor.data, function(i, field){
                data.addRow([new Date(field["date"]),field["value"],field["min"],field["max"]]);
            });

            var options = {
                title: sensor.title,
                subtitle: sensor.subtitle,
                'width':570,
                'height':400,
                legend: { position: 'right' }
                /*hAxis: {
                 format: 'dd MMM'
                 }*/
            };
            var chart = new google.charts.Line(document.getElementById(sensor.location));
            chart.draw(data, google.charts.Line.convertOptions(options));
        }


        $("#day").on("click", function () {
            setDatePickerDay();
            for (var j = 0; j < sensors.length; j++) {
                getDayData(sensors[j], time);
            }
        });
        $("#week").on("click", function () {
            setDatePickerDay();
            for (var j = 0; j < sensors.length; j++) {
                getWeekData(sensors[j], time);
            }
        });
        $("#month").on("click", function () {
            setDatePickerMonth();
            for (var j = 0; j < sensors.length; j++) {
                getMonthData(sensors[j], time);
            }
        });
        $("#semester").on("click", function () {
            setDatePickerMonth();
            for (var j = 0; j < sensors.length; j++) {
                getSemesterData(sensors[j], time);
            }
        });
        $("#year").on("click", function () {
            setDatePickerYear();
            for (var j = 0; j < sensors.length; j++) {
                getYearData(sensors[j], time);
            }
        });

        $(".desactiver").on("click", function () {
            $(".desactiver").removeClass("active");
            $(this).addClass("active");
        });

        function setDatePickerDay() {
            $('#datetimepicker1').datetimepicker({
                format: 'DD/MM/YYYY',
                useCurrent: true,
                defaultDate: new Date()
            });
        }

        function setDatePickerMonth() {
            $('#datetimepicker2').datetimepicker({
                format: 'MM/YYYY',
                useCurrent: true,
                defaultDate: new Date()
            });
        }

        function setDatePickerYear() {
            $('#datetimepicker3').datetimepicker({
                format: 'YYYY',
                useCurrent: true,
                defaultDate: new Date()
            });
        }
            getSensorInformation();
        });
    </script>
{% endblock %}