{% extends "DTREOeilSiteBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block bundle_body %}
    <h2>Accueil</h2>
    <hr>
    <div class="row">
            <div id="chart1"  class="col-md-6"><div class="well" style=""></div></div>
            <div id="chart2"  class="col-md-6"></div>
            <div id="chart3"  class="col-md-6"></div>
            <div id="chart4"  class="col-md-6"></div>
    </div>
    <div></div>
{% endblock %}

{% block bundle_javascript %}

    <script type="text/javascript">
        // initialisation de l'api google pour les graphiques linéaires
        google.charts.load('current', {'packages':['line']});
        google.charts.load('current', {'packages':['corechart']});

        function Sensor(id, name, title, subtitle, location, data) {
            this.id = id;
            this.name = name;
            this.title = title;
            this.subtitle = subtitle;
            this.location = location;
            this.data = data;
        }

        var sensors = [];
        
        function getSensorInformation() {
            $.getJSON("http://localhost/pst3oeildtre/web/app_dev.php/sensors", function(result){
                console.log(result);
                $.each(result, function(i, field){
                    sensors.push(new Sensor(field["id"],field["name"],field["title"],field["subtitle"],"chart"+i, null));
                });
                for (var j = 0; j < sensors.length; j++) {
                    getWeekData(sensors[j]);
                }
            });

        }

        function getDayData(i, ch, d) {
            $.getJSON("http://localhost/pst3oeildtre/web/app_dev.php/sensors/"+i+"/data/day", function(result){
                d = result;
                google.charts.setOnLoadCallback(drawDayChart(ch,d));
            });
        }
        function getWeekData(sensor) {
            $.getJSON("http://localhost/pst3oeildtre/web/app_dev.php/sensors/"+i+"/dailydata/week", function(result){
                d = result;
                google.charts.setOnLoadCallback(drawWeekChart(ch,d));
            });
        }
        function drawDayChart(ch,d) {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Journée');
            data.addColumn('number', 'Température');
            $.each(d, function(i, field){
                data.addRow([new Date(field["date"]),field["value"]]);
            });

            /*var dateFormatter = new google.visualization.DateFormat({pattern: 'HH:mm'});
            dateFormatter.format(data, 0);*/
            var options = {
                title: 'Température dans la DTRE',
                subtitle: 'en degré Celsius',
                'width':570,
                'height':400,
                legend: { position: 'right' },
                hAxis: {
                    format: 'HH:mm'
                }
            };
            // Instantiate and draw our chart, passing in some options.
            var chart = new google.charts.Line(document.getElementById(ch));
            chart.draw(data, google.charts.Line.convertOptions(options));
        }
        function drawWeekChart(ch,d) {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Semaine');
            data.addColumn('number', 'Température moyenne');
            data.addColumn('number', 'Température minimum');
            data.addColumn('number', 'Température maximum');
            $.each(d, function(i, field){
                data.addRow([new Date(field["date"]),field["value"],field["min"],field["max"]]);
            });

            /*var dateFormatter = new google.visualization.DateFormat({pattern: 'HH:mm'});
             dateFormatter.format(data, 0);*/
            var options = {
                title: 'Température dans la DTRE',
                subtitle: 'en degré Celsius',
                'width':570,
                'height':400,
                legend: { position: 'right' },
                /*hAxis: {
                    format: 'dd MMM'
                }*/
            };
            // Instantiate and draw our chart, passing in some options.
            var chart = new google.charts.Line(document.getElementById(ch));
            chart.draw(data, google.charts.Line.convertOptions(options));
        }
        var data1;
        var data2;
        var data3;
        var data4;/*
        getDayData(8,"chart1",data1);
        getDayData(5,"chart2",data2);
        getDayData(6,"chart3",data3);
        getDayData(7,"chart4",data4);*/
        getSensorInformation();
        /*getWeekData(8,"chart1",data1);
        getWeekData(5,"chart2",data2);
        getWeekData(6,"chart3",data3);
        getWeekData(7,"chart4",data4);*/
    </script>
{% endblock %}