{% extends "DTREOeilSiteBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block bundle_body %}
    <h2>Accueil</h2>
    <hr>
    <div class="row">
            <div id="chart1"  class="col-md-6"><div class="well" style=""></div></div>
            <div id="chart2"  class="col-md-6"></div>
            <div id="chart3"  class="col-md-6"></div>
            <div id="chart4"  class="col-md-6"></div>
    </div>
    <div></div>
{% endblock %}

{% block bundle_javascript %}

    <script type="text/javascript">
        // initialisation de l'api google pour les graphiques linéaires
        google.charts.load('current', {'packages':['line']});
        google.charts.load('current', {'packages':['corechart']});

        function Sensor(id, name, title, subtitle, location, data) {
            this.id = id;
            this.name = name;
            this.title = title;
            this.subtitle = subtitle;
            this.location = location;
            this.data = data;
        }

        var sensors = [];
        
        function getSensorInformation() {
            $.getJSON("http://localhost/pst3oeildtre/web/app_dev.php/sensors", function(result){
                console.log(result);
                $.each(result, function(i, field){
                    sensors.push(new Sensor(field["id"],field["name"],field["title"],field["subtitle"],"chart"+(i+1), null));
                });
                console.log(sensors);
                for (var j = 0; j < sensors.length; j++) {
                    getYearData(sensors[j]);
                }
            });

        }

        function getDayData(sensor) {
            $.getJSON("http://localhost/pst3oeildtre/web/app_dev.php/sensors/"+sensor.id+"/data/day", function(result){
                sensor.data = result;
                google.charts.setOnLoadCallback(drawDayChart(sensor));
            });
        }
        function getWeekData(sensor) {
            $.getJSON("http://localhost/pst3oeildtre/web/app_dev.php/sensors/"+sensor.id+"/dailydata/week", function(result){
                sensor.data = result;
                google.charts.setOnLoadCallback(drawLongChart(sensor));
            });
        }
        function getMonthData(sensor) {
            $.getJSON("http://localhost/pst3oeildtre/web/app_dev.php/sensors/"+sensor.id+"/dailydata/month", function(result){
                sensor.data = result;
                google.charts.setOnLoadCallback(drawLongChart(sensor));
            });
        }
        function getSemesterData(sensor) {
            $.getJSON("http://localhost/pst3oeildtre/web/app_dev.php/sensors/"+sensor.id+"/dailydata/semester", function(result){
                sensor.data = result;
                google.charts.setOnLoadCallback(drawLongChart(sensor));
            });
        }
        function getYearData(sensor) {
            $.getJSON("http://localhost/pst3oeildtre/web/app_dev.php/sensors/"+sensor.id+"/dailydata/year", function(result){
                sensor.data = result;
                google.charts.setOnLoadCallback(drawLongChart(sensor));
            });
        }
        function drawDayChart(sensor) {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Journée');
            data.addColumn('number', 'Température');
            $.each(sensor.data, function(i, field){
                data.addRow([new Date(field["date"]),field["value"]]);
            });

            var options = {
                title: sensor.title,
                subtitle: sensor.subtitle,
                'width':570,
                'height':400,
                legend: { position: 'right' },
                hAxis: {
                    format: 'HH:mm'
                }
            };
            var chart = new google.charts.Line(document.getElementById(sensor.location));
            chart.draw(data, google.charts.Line.convertOptions(options));
        }
        function drawLongChart(sensor) {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Semaine');
            data.addColumn('number', sensor.name + ' moyen(ne)');
            data.addColumn('number', sensor.name + ' minimum');
            data.addColumn('number', sensor.name + ' maximum');
            $.each(sensor.data, function(i, field){
                data.addRow([new Date(field["date"]),field["value"],field["min"],field["max"]]);
            });

            var options = {
                title: sensor.title,
                subtitle: sensor.subtitle,
                'width':570,
                'height':400,
                legend: { position: 'right' }
                /*hAxis: {
                    format: 'dd MMM'
                }*/
            };
            var chart = new google.charts.Line(document.getElementById(sensor.location));
            chart.draw(data, google.charts.Line.convertOptions(options));
        }

        function drawChart(sensor) {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Semaine');
            data.addColumn('number', sensor.name + ' moyen(ne)');
            data.addColumn('number', sensor.name + ' minimum');
            data.addColumn('number', sensor.name + ' maximum');
            $.each(sensor.data, function(i, field){
                data.addRow([new Date(field["date"]),field["value"],field["min"],field["max"]]);
            });

            var options = {
                title: sensor.title,
                subtitle: sensor.subtitle,
                'width':570,
                'height':400,
                legend: { position: 'right' }
                /*hAxis: {
                 format: 'dd MMM'
                 }*/
            };
            var chart = new google.charts.Line(document.getElementById(sensor.location));
            chart.draw(data, google.charts.Line.convertOptions(options));
        }

        getSensorInformation();
    </script>
{% endblock %}