{% extends "DTREOeilSiteBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block bundle_body %}
    <h2>Accueil</h2>

    <hr>



{% endblock %}

{% block bundle_javascript %}
    {{ parent() }}
{% endblock %}