



{% extends "DTREOeilSiteBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} Video
{% endblock %}

{% block bundle_body %}
    <div class="page-header">
        <h1>Médias</h1>
    </div>

    <img src="http://93.12.53.245/pst3oeildtre/web/media/data/toto/img.jpg" width="100%" height="auto" class="img-thumbnail" />


{% endblock %}

{% block bundle_javascript %}
    {{ parent() }}
{% endblock %}
