{% extends "DTREOeilSiteBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} Video
{% endblock %}

{% block bundle_body %}
    <div class="page-header">
        <h1>Video</h1>
    </div>

{% endblock %}

{% block bundle_javascript %}
    {{ parent() }}
{% endblock %}